ej8/xhtml.dtd

<!ELEMENT canciones (songs)*>
    <!ELEMENT html (head, body)>
    <!ATTLIST html xmlns CDATA #REQUIRED>

    <!ELEMENT head (meta, title)*>
    <!ATTLIST meta http-equiv CDATA #REQUIRED>
    <!ATTLIST meta content CDATA #REQUIRED>

    <!ELEMENT meta (#PCDATA)>
    <!ELEMENT title (#PCDATA)>

    <!ELEMENT body (p)*>
    <!ELEMENT p (#PCDATA)>
    <!ATTLIST body bgcolor CDATA #REQUIRED>
    <!ATTLIST p align CDATA #IMPLIED>